{% extends "base.html" %}
{% load humanize %}
<!-- {% load static %} -->

{% block menu-home %}class="active"{% endblock %}

{% block mainbody %}

<main id="home">
    <header class="title-banner">
        <div class="title-banner__container">
            <h1>Pokéapi</h1>
            <h2>The REST and GraphQL Pokémon API</h2>
            <p>Over <strong>{{ total_views|intcomma }}</strong> API calls received!</p>
        </div>
    </header>

    {% if alert %}
    <div class="alert">
        <div class="alert__message" role="alert">{{ alert.message|safe }}</div>
    </div>
    {% endif %}

    <div class="cta">
        <div class="cta__container">
            <p>
                All the Pokémon data you'll ever need in one place,<br>
                easily accessible through two modern APIs:<br>
                <a href="/docsv2">RESTful API</a> • <a href="/docs-graphql">GraphQL API</a>
            </p>
        </div>
    </div>

    <div class="page-container homepage-grid">
        <div class="intro">
            <h3>What is this?</h3>
            <div>
                <p>This is a set of two APIs linked to an extensive database
                    detailing everything to do with the Pokémon main game series. We've covered everything from Pokémon to Berry Flavors, and all text resources are fully translated into the games' originally published languages.</p>
                <p>These APIs acts as the single source for the Internet's Pokémon data needs, and we strive to keep them up-to-date at all times.</p>
                <p>For more information about the project, go to the <a href="/about">About</a> page.</p>
            </div>
        </div>
        <div class="which-api">
            <h3 class="which-api__title">Which API should I use?</h3>
            <p>Use whichever one you're most familiar with, unless you need the more powerful filtering or pagination features of the GraphQL API. Each API has access to the same data, but uses different access methods.</p>
            <p>If you're not sure, take a look at this comparison:</p>
        </div>

        <div class="comparison comparison--restful">
            <h2 class="comparison__title">RESTful API (V2)</h2>
            <div class="comparison__links">
                <a href="/docsv2/explore">Explore the API</a> •
                <a href="/docsv2">Read the Docs</a>
            </div>

            <h3>What is REST?</h3>
            <p>Only the most common style of web API used today. It's not an official standard, merely a set of loose conventions used to implement an API based on HTTP in a typically ad-hoc fashion.</p>
            <p>In <strong>RE</strong>presentational <strong>S</strong>tate <strong>T</strong>ransfer APIs, each resource is assigned to a URL, and different actions can be taken on a particular resource by using the HTTP verbs GET, POST, etc. (though Pokéapi only has GET). Data is returned in JSON format, either as scalar strings/numbers, or as a hyperlink to another resource. Basic filtering is accomplished by requesting a specific ID or by adding GET parameters to the end of the URL, and pagination is accomplished using <code>limit</code> and <code>offset</code> parameters.
            </p>

            <p>Example requests (click the request links to view the response JSON data):</p>
            <ul>
                <li>
                    The <a href="/docsv2/#pokemon">Pokémon</a> with ID 1: <br>
                    <code>
                        GET <a href="/api/v2/pokemon/1">https://pokeapi.co/api/v2/pokemon/1</a>
                    </code>
                </li>
                <li>
                   The first 10 <a href="/docsv2/#abilities">abilities</a>: <br>
                    <code>
                        GET <a href="/api/v2/ability/?limit=10">https://pokeapi.co/api/v2/ability/?limit=10</a>
                    </code>
                </li>
            </ul>

            <h3>The Good</h3>
            <p>It's extremely simple to use, and network caching is automatic. All you need to get started is a plain old HTTP request to the API.</p>

            <h3>The Bad</h3>
            <p>It doesn't scale as well. Nested resources must be individually fetched by the client, creating an inefficient <code>n+1</code> problem where each additional object requires one or more API requests. Furthermore, requirements like complex search filters and aggregate data queries are impossible to meet without complicated and inefficient solutions that fetch <em>all</em> available data and calculate results on the client. Finally, data is frequently overfetched, since there's no way to specify which fields are needed.
            </p>
        </div>

        <div class="comparison comparison--graphql">
            <h2 class="comparison__title">GraphQL API (Beta)</h2>
            <div class="comparison__links">
                <a href="/docs-graphql/explore">Explore the API</a> •
                <a href="/docs-graphql">Read the Docs</a>
            </div>

            <h3>What is GraphQL?</h3>
            <p>GraphQL is a strongly-typed query language for APIs that allows you to request only what you need from a single endpoint by writing a query that describes the shape of the response. A simple query is:</p>
<pre>
query {
  genders {
    name
    pokemonSpecies(first: 1) {
        totalCount
    }
  }
}
</pre>
            <p><a href="/graphql?query=query {%0A%20 genders {%0A%20%20%20 name%0A%20%20%20 pokemonSpecies(first%3A 1) {%0A%20%20%20%20%20 totalCount%0A%20%20%20 }%0A%20 }%0A}">View the result of this query.</a>
            </p>

            <hr>

            <p>Pokéapi is also fully compatible with <a href="https://facebook.github.io/relay/">Relay</a>, which means it has full support for <a href="https://facebook.github.io/relay/graphql/connections.htm">connections</a> and cursor-based pagination. Here's a query that uses a connection:</p>
<pre>
query {
  pokemons(first: 2) {
    edges {
      cursor
      node {
        name
        height
        weight
        types {
          slot
          node {name}
        }
      }
    }
  }
}
</pre>
            <p><a href="/graphql?query=query {%0A%20 pokemons(first%3A 2) {%0A%20%20%20 edges {%0A%20%20%20%20%20 cursor%0A%20%20%20%20%20 node {%0A%20%20%20%20%20%20%20 name%0A%20%20%20%20%20%20%20 height%0A%20%20%20%20%20%20%20 weight%0A%20%20%20%20%20%20%20 types {%0A%20%20%20%20%20%20%20%20%20 slot%0A%20%20%20%20%20%20%20%20%20 node {name}%0A%20%20%20%20%20%20%20 }%0A%20%20%20%20%20 }%0A%20%20%20 }%0A%20 }%0A}">View the result of this query.</a>
            </p>

            <hr>

            <h3>The Good</h3>
            <p>It handles complexity well. The heavy lifting is offloaded to the server, leaving you with exactly the results you need; no more, no less. It supports complex filtering, pagination, and data aggregation, and it has well-supported JavaScript client libraries like
                <a href="https://facebook.github.io/relay/">Relay</a>
                (for <a href="https://reactjs.org/">React</a>)
                or <a href="https://www.apollographql.com/client">Apollo Client</a>
                (for React,
                <a href="https://vuejs.org/">Vue</a>,
                <a href="https://angular.io/">Angular</a>,
                Android, iOS, and others). It also offers a nifty tool called <a href="/graphql">GraphiQL</a>, an in-browser IDE for exploring GraphQL that lets you run and inspect alongside comprehensive documentation.
            </p>

            <h3>The Bad</h3>
            <p>It's a lot more complex. Caching solutions must be implemented manually, and error handling can be slightly more complicated. There's a lot more to learn, so it takes a bit longer to get started. Finally, it's still fairly new (the first stable release of GraphQL was in October 2016), so some languages might not have client libraries yet, particularly on the server.</p>
        </div>

        <div class="sponsored-by">
            <a href="https://www.digitalocean.com/?refcode=eab2fea41bc6" target="none">
                <img class="sponsored-by__image" src="/static/do-logo.png">
            </a>
        </div>

        <div class="source">
            <p>These APIs will always be publicly available and will
                never require any extensive setup process to consume.
            </p>
            <p>The source code is fully open and licensed under the <a href="https://github.com/PokeAPI/pokeapi/blob/master/LICENSE.rst">BSD</a> license, and is available at <a href="https://github.com/PokeAPI/pokeapi">GitHub</a>.
            </p>
        </div>

        <div class="donate">
            <h4>Keep PokéAPI Running</h4>
            <div>
                <p>PokéAPI costs around $80 a month to run. We want to keep this free and scalable for as long as possible!
                </p>
                <p><strong>If you use PokéAPI for teaching or for building apps, consider donating today!</strong></p>
                <form action="/stripe/donation" method="POST">
                    <script
                        src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                        data-key="{{stripe_key}}"
                        data-image="https://i.imgur.com/Jya9cm0.png"
                        data-name="pokeapi.co"
                        data-description="Donate and keep pokeapi alive!"
                        data-amount="1000"
                        data-panel-label="Donate">
                    </script>
                </form>
            </div>
        </div>
    </div>
</main>

{% endblock %}
