{% extends "base.html" %}
{% load render_bundle from webpack_loader %}

{% block menu-docs %}class="active"{% endblock %}

{% block mainbody %}
    <section id="docs">
        <header class="title-banner">
            <div class="title-banner__container">
            {% block docstitle %} {% endblock docstitle %}
            </div>
        </header>
        <div class="page-container docs-grid">
            <div class="docs-grid__nav">
                <nav class="docs-grid__nav__container">

                    <div class="version-select">
                        {% with url_name=request.resolver_match.url_name %}
                        <ul class="sgmt-ctrl">
                            <li class="sgmt-ctrl__segment {% if url_name == 'docs_graphql' %}sgmt-ctrl__segment--active{% endif %}">
                                <a href="/docs/graphql/">GraphQL</a>
                            </li>
                            <li class="sgmt-ctrl__segment {% if url_name == 'docs_v2' %}sgmt-ctrl__segment--active{% endif %}">
                                <a href="/docs/v2">REST (v2)</a>
                            </li>
                        </ul>

                        <p class="v1docs {% if url_name == 'docs_v1' %}v1docs--active{% endif %}">
                            <a href="/docs/v1/">REST (v1) — deprecated</a>
                        </p>
                        {% endwith %}
                    </div>

                    <div class="section-select">
                        {% block docsnav %} {% endblock %}
                    </div>
                </nav>
            </div>

            <main class="docs-grid__body">
                {% block docsbody %} {% endblock %}
            </main>
        </div>
    </section>

    {% render_bundle 'docs' %}
{% endblock %}
