<h2 id="info">Information</h2>

<p class="lead">Please take note when using this API:</p>

<ul>
	<li>This is a <b>consumption-only</b> API - only the HTTP GET method is available on resources.</li>
	<li><b>No authentication</b> is required to access this API. All resources are fully open and available.</li>
		<ul>
			<li>There is, however, a daily rate limit of 300 requests <b>per resource</b> per IP address. So a single IP address can call the <i>bulbasaur</i> resource 300 times a day. Not 300 requests across the entire dataset! This is to stop our database from falling over under heavy load.</li>
		</ul>
	<li>If you are going to be regularly using the API, we recommend caching data on your service.</li>
</ul>
